.container{
    width: 15em;
    margin: 0 0.5em;
    float: left;
    /* background-color: rgb(100, 93, 93); */
}
.pic img{ 
width: 100%;
}
.title
{
    font-weight: bold;
    margin-bottom: 1em;
    color: aliceblue;
}
.channel, .views{
color: grey;
}

